// /.gitignore
node_modules/
npm-debug.log
.DS_Store
settings-development.json
settings-production.json
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.npm
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.meteor/local
.meteor/dev_bundle
.eslintcache
coverage/
*.log
dump/
